# Mac files
.DS_Store

# local test data
/user_data/

# Cache
/DeDRM_plugin/__pycache__
/DeDRM_plugin/standalone/__pycache__

/test*
/tests

/.vscode
/new
/KFX
/_old

# ignore python temp files
*.zip
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyc

# ignore python cache files
__pycache__/

config.json
keys.txt
minidump
*.DMP